.caixa{
    background-color: #244673;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #0D0D0D !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.img{
    width: 450px;
    height: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.text-decorator-none{
    text-decoration: none;
}